<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="#" id="img" />
    <div>fps:<div id="fps1"></div>
    </div>
    <script type="text/javascript">
        var ws = new WebSocket(`ws://localhost:3000/server1`);
        
        var id = document.getElementById(`img`)
        ws.onopen = () => {
            console.log('open connection')
        }

        ws.onclose = () => {
            console.log('close connection')
            setTimeout(() => {
                console.log('重新連線')
                // connect()
            }, 3000)
        }

        //接收 Server 發送的訊息
        ws.onmessage = event => {
            var data = event.data
            // console.log(data)
            // console.log(JSON.parse(data))
            // if(data.cam)
            id.src = 'data:image/jpeg;base64,' + event.data
            // console.log(event.data)
        }
    </script>
</body>

</html>